.header-logo{
    font-family:Futura;
    font-size:60px;
    padding:0px 10px;
    font-weight:lighter;
    float:left;
    letter-spacing:9px;
}
.header-list{
    font-family:Futura;
    float:left;
}
.header-list li{
    font-weight:lighter;
    padding:40px;
    list-style:none;
    letter-spacing:7px;
    float:left;
    color:black;
}
.list li{
    font-family:Helvetica;
    list-style:none;
}
a{
    text-decoration: none;
    color: black;
}
.section-logo{
    font-family:Futura;
    font-size:20px;
    float:left;
}
h1{
    font-family:Helvetica;
}


.header{
    position:fixed;
}
.main{
    padding:150px 0px 0px 50px;
}