.header-logo{
    font-family:Futura;
    font-size:60px;
    padding:0px 10px;
    font-weight:lighter;
    float:left;
    letter-spacing:9px;
    color:black;
}
.header-list{
    font-family:Futura;
    float:left;
}
li{
    font-weight:lighter;
    padding:40px;
    list-style:none;
    letter-spacing:7px;
    float:left;
    color:black;
}

img{
    float:left;
    padding:20px;
}

.album{
    padding:0px 120px;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    position:fixed;
}
.main{
    padding:150px 0px 0px 50px;
}