.header-logo{
    font-family:Futura;
    font-size:60px;
    padding:10px;
    font-weight:lighter;
    float:left;
    letter-spacing:9px;
    width:50%;
}
.header-list{
    font-family:Futura;
    float:right;
}
li{
    font-weight:lighter;
    padding:40px;
    list-style:none;
    letter-spacing:7px;
    float:left;
}

img{
    float:left;
    padding:20px;
}

.album{
    padding:0px 40px;
}